*{
    margin:0;
    padding:0;
}
body{
    background-color: gray;
    text-align: center;
}
.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem black;
    font-size:8vmin;
    color: #b0413e;
    background-color: aliceblue;
}
#reset{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color:white;
    border-radius: 1rem;
    border:none;
}
#msg{
    font-size: 2rem;
    margin-bottom: 1rem;
}
#close-msg{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color:white;
    border-radius: 1rem;
    border:none;
}

